.switch {
  --checked-color:
    /*#00ef00*/
    #00de00;
  ;
  /* --unchecked-color:#ccc; */
  --unchecked-color: #999;
  --trans-speed: .2s;
  --slide-color: #666;
  --border: none;
  --move-amount: 10px;
  position: relative;
  display: inline-block;
  width: calc(60px + var(--move-amount));
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  user-select: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--unchecked-color);
  -webkit-transition: var(--trans-speed);
  transition: var(--trans-speed);
  outline: var(--border);
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--slide-color);
  -webkit-transition: var(--trans-speed);
  transition: var(--trans-speed);
  border-radius: 50%;
}


input:checked+.slider {
  background-color: var(--checked-color);
  /* Slider Color */
}


input:checked+.slider::before {
  -webkit-transform: translateX(calc(26px + var(--move-amount)));
  -ms-transform: translateX(calc(26px + var(--move-amount)));
  transform: translateX(calc(26px + var(--move-amount)));
}

/* Rounded sliders */
.slider.square {
  border-radius: 0px;
}

.slider.square:before {
  border-radius: 0px;
}
